:root{
    --font-family: "Roboto", sans-serif;
    --second-family: "Ubuntu", sans-serif;

    --color-light: #FFFFFF;
    --color-dark: #4C5866;
    --color-accent: #7875FE;
    --color-title: #666666;
    --color-text: #85859B;
    --color-light-grey: #EBEBEB;
    --color-grey: #c0c0c0;;

    --container-width: 1110px;
    --container-padding-x: 10px;

    --transition-duration: 0.2s;

    --header-height: 80px;

}