.presentation {
  display: flex;
  justify-content: space-between;
}

.presentation-description {
  padding-top: 70px;
}
.presentation-description-art {
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  max-width: 445px;
}
.presentation-photo {

}
.presentation-image {
  width: 540px;
  height: 100%;
}
.main-title {
  font-size: 55px;
  line-height: 1;
  color: var(--color-dark);
}
.description-text {
  line-height: 1.5;
}

@media (max-width: 1100px){
  .presentation-description{
    padding-top: 5px;
    padding-bottom: 65px;
  }
  .presentation-image{
    width: 270px;
  }
  .presentation-description-art{
    max-width: 390px;
  }
  .main-title{
    font-size: 50px;
  }
}
