.products {
  padding-block: 90px;
}
.products-list-art {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.products-image {
  margin-bottom: 20px;
}
.products-list {
  grid-column: span 3;
}
.products-title {
  font-size: 30px;
  text-transform: none;
  margin-bottom: 8px;
}
.products-quantity {
  font-size: 14px;
  color: #b5b5bd;
  margin-bottom: 8px;
}
.products-description {
  margin-bottom: 20px;
}
.products-link {
  font-size: 20px;
  color: var(--color-accent);
  align-self: flex-start;
  margin-top: auto;
}
.products-link::after {
  content: url("/icons/Arrow 1.svg");
  padding-left: 6px;
  transition-duration: var(--transition-duration);
}
.products-link:hover {
  color: var(--color-accent-dark);
  transition-duration: var(--transition-duration);
}
.products-link:hover::after {
  content: url("/icons/Arrow 2.svg");
  transition-duration: var(--transition-duration);
}
.products-link:focus {
  background-color: var(--color-accent-ligth);
  width: 137px;
  height: 31px;
  transition-duration: var(--transition-duration);
}
.products-link:focus::after {
  background-color: var(--color-accent-ligth);
  transition-duration: var(--transition-duration);
}
.products-link:active {
  color: var(--color-accent-dark);
  transition-duration: var(--transition-duration);
}
.products-link:active::after {
  content: url("/icons/Arrow 2.svg");
  transition-duration: var(--transition-duration);
}

@media (max-width: 1100px) {
  .products-list{
    grid-column: span 6;
  }
  .products{
    padding-block: 60px;
  }

}
