.sketchbook {
  padding-top: 90px;
}
.block-text__article {
  display: flex;
  flex-direction: column;
  padding-top: 24px;
}
.article__title {
  font-size: 40px;
  line-height: 100%;
  text-transform: none;
  margin-bottom: 8px;
}
.article__description {
  margin-bottom: 30px;
}

.block-image-img {
  width: 100%;
  height: auto;
}

.sketchbook__block-text {
  grid-column: span 4;
}
.sketchbook__block-image {
  grid-column: span 8;
}
